@model IEnumerable<AdventurousContacts.Models.Contact>

@{
    ViewBag.Title = "Adventurous Contacts";
}

<h2>Adventurous Contacts</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </th>
        <th></th>
    </tr>

@foreach (var contact in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => contact.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => contact.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => contact.EmailAddress)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = contact.ContactID }) |
            @Html.ActionLink("Details", "Details", new { id = contact.ContactID }) |
            @Html.ActionLink("Delete", "Delete", new { id = contact.ContactID })
        </td>
    </tr>
}

</table>
